<% if @dir_contents.nil? %>
  <div class="content">
    <p>You do not have an FTP account set up, click on the button below to create one:</p>
    <% form_tag( { :controller => 'upload', :action => 'ftp_create' } ) do %>
        <input type="hidden" name="create" value="yes" />
        <%= submit_tag "Create FTP Account" %>
    <% end %>
  </div>
<% else %>
  <div class="content">
    <p>
      Your FTP account has been setup, use the following details to connect:
    </p>
    <table class="ftpdetails">
      <tr>
        <th>Server hostname:</th>
        <td>ftp.openstreetview.org</td>
      </tr>
      <tr>
        <th>Username:</th>
        <td><%=@fl.username%></td>
      </tr>
      <tr>
        <th>Password:</th>
        <td><%=@fl.password%></td>
      </tr>
    </table>
    <p><b>Once you have uploaded files you will need to find them in the list below and mark them for processing.</b> First level directories will be uploaded as batches.</p>
    <% form_tag( { :controller => 'upload', :action => 'ftp_process' } ) do %>
    <ul class="ftpupload">
    <%
        @dir_contents.each do |d|
            %>
        <li>
            <%=check_box_tag "process[]", d %>
            <% if d == @subdir %>
            <%= link_to h(d)+" (close)" %>
            <ul>
                <%
                @subdir_contents.each do |s|
                %>
                <li><%=s%></li>
                <%
                end
                if @subdir_contents.length == 0
                %>
                <li><em>Nothing Present</em></li>
                <%
                end
                %>
            </ul>
            <% else %>
            <%= link_to h(d), :subdir => d %>
            <% end %>
        </li>
            <%
        end
        if @dir_contents.length == 0
        %>
        <li><em>Nothing present</em></li>
        <%
        end
    %>
    </ul>
    <% if @dir_contents.length != 0 %>
        <%= submit_tag "Process Files" %>
    <% end %>
    <% end %>
  </div>
  <%= render :file => 'content/legals' %>
<% end %>
